h1,h2,h3,h4 {
    margin: 0;
    padding: 0;
}

a {
    border: none;
    text-decoration: none;
}

.noPaddingLeft {
    padding-left: 0;
}

.noPaddingRight {
    padding-right: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    // width: 60rem; 
    @media all and (min-width:1026px) {
        width: 60rem;
    }
}


  @media all and (min-width:768px) and (max-width:1026px) {
       .container {
    margin-left: auto;
    margin-right: auto;
    width: 44rem;
} 

.boxeffect {
   box-shadow: 0px 0px 0px 0px $secondarycolor !important;
}

  }


  @media all and (min-width:320px) and (max-width:765px) {
      .commonFlex-xs {
    display: flex !important; 
}

.boxeffect {
   box-shadow: 36px 3px 4px -32px rgba(194, 0, 0, 0.02);
}

.commonFlex {
    display: block !important;
}

.hide-xs {
    display: none !important;
}
        
  }


.commonFlex {
    display: flex;
}
.commonFlex-xs {
    display: flex;
}

.boxeffect {
    box-shadow: 36px 3px 4px -32px rgba(194, 0, 0, 0.02);
}

.nav-dropDown {
  display: none;
  position: fixed;
  top:0;
  right: 0;
  width: 300px;
  height: auto;  
  z-index: 1;
  background: #fff;   
  height: 100vh;
  @media only screen and (min-width:320px) and (max-width:768px) {
      height: 100%;
  }
  
  &__logo {
      padding: 30px 1rem;
      margin-bottom: 2rem;
img {
      width: 10%;
      height: 10%;
      display: inline-block;
  }
  i {
      text-align: right; 
      position: relative;
      top: 3px;
      width: 88%;
      cursor:pointer;
      color: $primarycolor;
  }
  }
    ul {
  list-style: none;
  text-decoration: none;
 width: 60%;
 margin: 0 auto;
  border-radius: 4px;
  padding: 0;
   border-bottom: 1px solid rgba(209, 209, 209, 0.42); 

  li {
    text-align: left; 
    margin-bottom: 1rem;
    a {
      height: 50px;
    line-height: 50px;
   
    // font-family: 'g-lite';
    // font-size: 18px;
    cursor: pointer;
    color: $secondarycolor;  
    // text-transform: uppercase;
    font-family: 'g-book';
    font-size: 20px;
    &:hover {
      color: $primarycolor;
    } 
    }
  } 
  
    }
}

#ac-wrapper {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
      background: rgba(10, 10, 10, 0.6);
   z-index: 1001;
}
#popup {
    width: 70%; 
    position: relative;
    top: 10%;
   
   margin: 0 auto;
    i {
            position: absolute;
    top: 15px;
    right: 15px;
    font-size: 18px;
    color: $primarycolor;
    cursor: pointer;
    } 


  .getInTouch {
  background: #E6F7F9;

  }
  .getInTouchContainer {
      padding: $primarypadding;
      @media only screen and (min-width:320px) and (max-width:768px) {
        padding: 60px 30px;
      }
  }

  .getInTouchBox {
    display: flex;
    
    &__banner {
      margin-top: 3rem;
      img {
        width:250px;
      }
    
    }
    &__title {
      width: 100%;
      margin-top: 30px;
      margin-left: 2rem;
     
      h1 {
        font-size: 34px;
        font-family: 'g-lite';
        margin-bottom: 20px;
        span {
           font-size: 34px;
        font-family: 'g-lite';
        color: $secondarycolor;
        }
      }
      h2 { 
         font-size: 34px;
        font-family: 'g-lite';  
        margin-bottom: 20px;
      }
      h3 {
        border: 2px solid $primarybgcolor;
        width: 150px;
        margin-bottom: 30px;
      }
      p {
         font-size: 16px;
        font-family: 'g-book';
        line-height: 30px;
        span {
          display: block;
        }
      }
    }
    &__input {
      margin-top: 2rem;
      input {
        display: block;
        margin-bottom: 1rem;
        width: 260px;
      }
      input[placeholder] {
        font-family: 'g-lite';
      }
     
    }
  }


    @media only screen and (min-width:768px) and (max-width:1024px) {
        top :50px;
    }
     @media only screen and (min-width:320px) and (max-width:767px) {
        top :50px;
    }
}




