---
---
$navbar-default-bg: white;
$navbar-default-border:white;

 $navbar-default-link-hover-color:#F05944;
 $navbar-default-link-active-color:#F05944;
@import '../_sass/bootstrap';
@import '../_sass/consulting';
@import '../_sass/company';
@import '../_sass/managed_services';
@import '../_sass/homepage';
@import '../_sass/homepage-parallax';
