{% include header.html %}

<main class="about-us">
		
	<div class="container">
		<div>
			<div class="comp-desk">
				<div class="hr-display "><h2 class="gotham-rounded-bok hw-font-heading3  h2-color company-abt">{{site.data.company.title}}</h2></div>
				<!-- <p class="hw-para gotham-rounded-light para text-center text-justify">{{site.data.company.description}}</p> -->
				<h2 class="hw-para gotham-rounded-light para text-center text-justify hw-our-thinking-head-contents title-description">We are IT-change partners enabling digital transformation for Large enterprise & Captive IT units. </h2>
			</div>
			<div class="comp-mob">
				<h1 class="text-center gotham-rounded-bok heading hw-font-heading"> {{site.data.company.title}} </h1>
				<div class="carousel-padding"> 
				   	<div class="line"></div>
					<div data-interval="false" data-ride="carousel" class="carousel slide" id="myCarousel">

				   		<div class="container heading-caro-padd">
						    <!-- Wrapper for slides -->
						    <div role="listbox" class="carousel-inner">
						    	<h2 class="gotham-rounded-light hw-heading h2-color text-center hw-line-height comp-head">Today's market needs software driven businesses to respond for change &amp; disruption by redefining the way they design, build &amp; use software. We can accelerate your IT strategy to differentiate &amp; succeed.</h2> 
							  	
						    </div>
						</div>
					</div>
			 	</div>
		 	</div>
			<div class="carousel-padding about-us-content">
				<p class="hw-para gotham-rounded-bok para company-value">What we do? </p>
				<!-- <p class="hw-para gotham-rounded-light para clr-black">----------------------</p> -->
				<p class="hw-company-gen-txt gotham-rounded-light para hw-our-thinking-head-contents-1">We help companies to pivot and meet perpetual change with sustainable innovation, leveraging technology enabled transformation practices thereby delivering value, agility & flexibility.</p>
				<p class="hw-company-gen-txt gotham-rounded-light para hw-our-thinking-head-contents">We consult, design & build digital presence for your businesses by reducing system complexity & delivering relevance. </p>
				<p class="hw-company-gen-txt gotham-rounded-light para hw-our-thinking-head-contents">We # on, DevOps, DataOps, DataScience, UX/UI & Enterprise Mobility</p>
				<p class="hw-company-gen-txt gotham-rounded-light para hw-our-thinking-head-contents">We champion the adoption of sustainable (Enterprise Grade) & disruptive technologies (Social-Mobile-Analytics-Cloud) to Captive IT units, Startups & Enterprise.</p>
				<p class="hw-company-gen-txt gotham-rounded-light para hw-our-thinking-head-contents">Think of a workforce that extends beyond your employees, competing to solve some of the problems your organizations struggle with.</p>
				<p class="hw-para gotham-rounded-bok para company-value">Voice </p>
				<!-- <p class="hw-para gotham-rounded-light para clr-black">----------</p> -->
				<p class="hw-company-gen-txt gotham-rounded-light  para hw-our-thinking-head-contents-1">We love companies that love customers! </p>
				<p class="hw-company-gen-txt gotham-rounded-light para hw-our-thinking-head-contents">Be a customer driven organization, explore how digital technologies can help you.</p>
				<p class="hw-para gotham-rounded-bok para company-value ">Model </p>
				<!-- <p class="hw-para gotham-rounded-light para clr-black">-------------</p> -->
				<p class="hw-company-gen-txt gotham-rounded-light para hw-our-thinking-head-contents-1">Our Model for application development eco-system is run by lean principles, flow thinking & DevOps. </p>
				<p class="hw-company-gen-txt gotham-rounded-light para hw-our-thinking-head-contents">We help expand your IT functions to win, serve & retain customers by delivering value.  </p>
				<p class="hw-company-gen-txt gotham-rounded-light para hw-our-thinking-head-contents">We help you tap into vast pool of problem solvers across the spectrum.</p>
				<p class="hw-para gotham-rounded-bok para company-value ">Who is Hashworks?</p>
				<!-- <p class="hw-para gotham-rounded-light para clr-black">--------------------------------</p> -->
				<p class="hw-company-gen-txt gotham-rounded-light para hw-our-thinking-head-contents-1">We are a bunch of Enterprise nerds with a start-up DNA. Hashworks is a tech-startup run by Veteran minds based out of Bangalore, India.</p>
				<p class="hw-para gotham-rounded-bok para company-value">Our Value</p>
				<!-- <p class="hw-para gotham-rounded-light para clr-black">-----------------</p> -->
				<p class="hw-company-gen-txt gotham-rounded-light para hw-our-thinking-head-contents-1">We share your dream, we share your purpose, behold customer centricity in everything we do.</p>
				<p class="hw-company-gen-txt gotham-rounded-light para hw-our-thinking-head-contents">When you are with Hashworks, we become a team, we IT-enable your business needs!</p>
			</div>
		</div>
	</div>

	<div class="drop-line">
		<div class="hr-display"><p class="hw-heading gotham-rounded-light drop-text">DROP US A LINE</p></div>
		<div class="hr-display drop-icon"><img src="/assets/img/company/drop.png" alt="'drop"> </div>
	</div>

	<div class="container carousel-padding comp-carousel-padding">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 company-btm">
				<div class="address hr-display ">
					<div class="hr-display"><i class="fa fa-map-marker company-fa"></i></div>
					<div  class="gotham-rounded-book company-para hr-display hw-contact-no">Address</div>
					<p  class="hr-display gotham-rounded-light company-det">Survey No. 80/3, Gayathri Mansion, 2nd Floor, Bellandur Village, Varthur Hobli East Taluk, Outer Ring Road, Bangalore – 560103. Landmark: above Toyota Showroom, next to Salarpuria Soft zone.</p> 
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 company-btm company-phone">
				<div class="phone hr-display">
					<div class="hr-display"><i class="fa fa-mobile company-fa"></i></div>
					<div class="gotham-rounded-book company-para hr-display hw-contact-no">Phone</div>
					<p  class="hr-display gotham-rounded-light company-det">{{site.data.company.phone}}</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 company-btm company-email">
				<div class="email hr-display">
					<div class="hr-display"><i class="fa fa-paper-plane company-fa comp-email"></i></div>
					<div  class="gotham-rounded-book company-para hr-display hw-contact-no">Email</div>
					<a href="http://mail.google.com/mail/h/" class="hr-display gotham-rounded-light company-det">{{site.data.company.email}}</a>
				</div>
			</div>
		</div>
	</div>

</main>
<section class="about-us">
{% include ribbon-footer.html %}
</section>
{% include footer.html %}
{% include html-footer.html %}